*{
    margin: 0;
    padding: 0;
}
h1 {
    
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: #eb8978;
    margin-top: 25px;
    font-size: 5rem;
}
ul{
    text-align: center;
    list-style-type: none;
    margin:0;
    padding:0;
    overflow: hidden;
    background-color: none;
}
ul li {
    float: left;
}
ul li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
ul li a:hover {
    background-color: opacity(0.);
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

nav a {
    text-decoration: none;
    color: #e3e3e3;
    margin: 0 20px;

}
nav a:hover {
    color: black;
}
nav a.active {
    color: black;
}
h2 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: #eb8978;
    margin-top: 750px;
}
h3 {
    text-align: center;
    margin: 50px;
    color: #eb8978;
}
h4 {
    text-align: center;
    margin: 20px;
    color: #eb8978;
}
p {
    text-align: center;
    margin: 30px;
}
form {margin-top: 30px;
}
input{
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
    font: inherit;
    padding: 5px;
    color: black;
}
input[type="text"], input[type="name"], input[type="email"]{
    padding: 5px 20px;
    width: 200px;
    height: 50px;
    border: none;
    background-color: #eb8978;
    border-radius: 30px;   
    
}
input[type="submit"]{
    width: 200px;
    padding: 10px;
    background-color: #eb8978;
    color: brown;
    font-weight: 600;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}