*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    
}
h1 {
    
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: #eb8978;
    margin-top: 25px;
    font-size: 5rem;
    font-size: 10rem;
}
ul{
    text-align: center;
    list-style-type: none;
    margin:0;
    padding:0;
    overflow: hidden;
    background-color: none;
}
ul li {
    float: left;
    
}
ul li a {
    display: block;
    color: brown;
    text-align: center;
    justify-content: space-between;
    padding: 20px 20px;
    
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #eb8978
}


h2 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: #eb8978;
    margin-top: 750px;
}
h3 {
    text-align: center;
    margin: 50px;
    color: #eb8978;
    font-size: 50px;
        
}
h4 {
    text-align: center;
    margin: 20px;
    color: #eb8978;
}
p {
    text-align: center;
    margin: 30px;
    font-size: 20px;
    color: black;
}
form {margin-top: 30px;
}
input{
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
    font: inherit;
    padding: 5px;
    color: black;
}
input[type="text"], input[type="name"], input[type="email"]{
    padding: 5px 20px;
    width: 200px;
    height: 50px;
    border: none;
    text-align: center;
    background-color: #daa195;
    border-radius: 30px;   
    
}
input[type="submit"]{
    width: 200px;
    padding: 10px;
    background-color: #eb8978;
    color: wheat;
    font-weight: 600;
    border: none;
    border-radius: 30px;
    cursor: pointer;
} 


.carousel {
    margin: 100px auto;
    width: 90%;
    height: auto;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth; 
    list-style: none;   
    gap: 1em;
            
}
.carousel a {
    text-decoration: none;
    color: inherit;
}
.carousel::-webkit-scrollbar {
    display: none;
}

body {
    overflow-x: hidden;
}
.group {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 1em;
    animation: spin 50s infinite linear;
    padding-right: 1em;
    
}
.card {
    flex: 0 0 5em;
    height: 5em;
    padding: 1em;
    background: none;
    font-size: 2rem;
    border-radius: .2em;
    text-align: center;
    align-content: center;
    
    
}
@keyframes spin {
    from {translate: 0;}
    to {translate: -100%}
}
@media (max-width: 100px) {
    .logo {
        font-size: 16px;
    }
    .links {
        font-size: 12px;
        padding: 0.3rem 0.5rem;
    }
}
.content {
    display: flex;
    flex-direction: column;
    
}
